{% extends "admin/change_form.html" %}
{% load i18n %}
{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../../">{% trans "Feedback" %}</a> &rsaquo; 
     Viewing Feedback
</div>
{% endif %}{% endblock %}
{% block content %}
    <div id="content-main">
        <fieldset class="module aligned">
            <h2>{{ feedback.get_type_display }} from {{ feedback.user|title }} &mdash; {{ feedback.time|timesince }} ago</h2>
            <p>{{ feedback.message }}</p>
            <h3>Actions</h3>
            <ul>
                <li><a href='mailto:{{ feedback.user.email }}'>E-mail user</a></li>
                <li><a href='../../{{ feedback.id }}/'>Edit Feedback</a></li>
                <li><a href='../../{{ feedback.id }}/delete/'>Delete Feedback</a></li>
            </ul>
        </fieldset>
    </div>
{% endblock %}